@model IEnumerable<TallerEquiposFinal.Models.Equipo>

@{
    ViewData["Title"] = "Equipos";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitulosEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmiteExtranjeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitulosEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmiteExtranjeros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadio.NombreEstadio)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEquipo" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEquipo" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEquipo" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
